*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: rgb(49, 49, 126);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom:  60px;
}

/*Header*/

header{
    width: 100%;
    height: 600px;
    background-image: url(../proyecto/images/bannernew\ -\ copia.PNG);
    background-size: auto;
    background-attachment: fixed;
    position: relative;


}
nav {
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}
nav > a:hover{
   
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: white;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.wave{
     position: absolute;
    bottom: 0;
    width: 100%;
}
/*About us*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;  
}
.imagen-about-us{
    width: 48%;
}
.sobre-nosotros .contenido-textos{
    width:48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background:black;
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Galeria*/
.portafolio{
    background: f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 400px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5) ;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;    
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: white;
}
  
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Clients*/
.cards{
     display: flex;
     justify-content: space-evenly;
}
.cards .card{
    background: rgb(240, 72, 72);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: white;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*Our team*/

.about-services{
    background: f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;    
}

.servicio-ind img{
    width: 90%;
}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
   font-weight: 300;
   text-align: justify;
}


/*Footer*/

footer{
    width: 100%;
    background: #202020;
    color: white;

}
.container-footer-all{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between; 
}
.colum1{
    max-width: 300px;
}
.colum1 h1{
    font-size: 32px;
    color: white;
    float: left;
}
.colum1 h2{
    font-size: 22px;
    color: white;
    float: left;
}
.colum2{
    max-width: 300px;
}
.colum2 h1{
    font-size: 32px;
    color: white;
    float: left;
}
.colum2 h2{
    font-size: 22px;
    color: white;
    float: left;
}
.colum3{
    max-width: 100px;
}
.colum3 h1{
    font-size: 32px;
    color: white;
    float: left;
}
.colum3 h2{
    font-size: 22px;
    color: white;
    float: left;
}
.colum3 p{
    font-size: 15px;
    color: white;
}
.colum4{
    max-width: 300px
}
.colum4 h1{
    font-size: 32px;
    color: white;
}
.colum4 p{
    font-size: 15px;
    color: white;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.row2{
    margin-top: 20px;
    display: flex;
}

h1{
    font-size: 50px;
    text-align: center;
    color: black;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 16px;
    text-align: center;
}
